In [ ]:
import pandas as pd 
df =pd.read_csv("Dataset/bangalore_urban_flood_prediction_AI.csv")
df

,Latitude,Longitude,Altitude,Rainfall_Intensity,Temperature,Humidity,Atmospheric_Pressure,River_Level,Drainage_Capacity,Drainage_System_Condition,Population_Density,Urbanization_Level,flood
0,13.031867,77.531658,997.63,40.06,33.83,98.73,931.65,4.58,89.96,5,24933.97,3,1
1,12.877241,77.525416,893.85,138.76,29.91,83.63,922.12,6.65,1.30,4,9937.05,10,1
2,12.899599,77.517722,934.88,65.84,16.35,73.36,934.76,5.55,76.12,9,11088.95,2,0
3,12.893955,77.552339,929.47,138.25,31.94,44.72,930.82,6.46,22.18,4,12124.49,7,0
4,12.984063,77.538374,901.12,125.92,33.56,47.63,941.29,6.83,30.38,5,8446.10,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,13.078096,77.587993,881.71,13.75,21.51,54.81,969.79,7.23,13.14,9,9508.45,1,1
2996,13.035713,77.523857,817.26,81.21,34.59,52.50,935.50,0.31,19.14,1,29998.95,4,0
2997,12.934399,77.666290,811.16,91.21,18.14,69.83,920.13,6.21,90.02,2,5866.78,2,1
2998,13.021337,77.661109,875.90,22.36,16.72,41.00,904.07,9.34,97.37,3,14686.63,2,1
2999,12.908728,77.692025,994.37,139.75,20.76,52.45,963.11,5.81,28.31,2,3763.76,7,1

In [6]:
from sklearn.preprocessing import MinMaxScaler

# Select features to scale (excluding Latitude, Longitude)
features_to_scale = ['Altitude', 'Rainfall_Intensity', 'Temperature', 'Humidity', 
                     'Atmospheric_Pressure', 'River_Level', 'Drainage_Capacity', 
                     'Population_Density', 'Urbanization_Level']

scaler = MinMaxScaler()
df[features_to_scale] = scaler.fit_transform(df[features_to_scale])

# Keep Latitude and Longitude unchanged
X = df.drop(columns=['flood'])  # Features
y = df['flood']  # Target variable

In [7]:
X

,Latitude,Longitude,Altitude,Rainfall_Intensity,Temperature,Humidity,Atmospheric_Pressure,River_Level,Drainage_Capacity,Drainage_System_Condition,Population_Density,Urbanization_Level
0,13.031867,77.531658,0.988234,0.267009,0.941971,0.978826,0.315710,0.458,0.899656,5,0.825245,0.222222
1,12.877241,77.525416,0.468606,0.925360,0.745873,0.727076,0.220286,0.665,0.002832,4,0.307814,1.000000
2,12.899599,77.517722,0.674044,0.438967,0.067534,0.555852,0.346851,0.555,0.759660,9,0.347557,0.111111
3,12.893955,77.552339,0.646956,0.921958,0.847424,0.078359,0.307400,0.646,0.214040,4,0.383286,0.666667
4,12.984063,77.538374,0.505007,0.839715,0.928464,0.126876,0.412236,0.683,0.296986,5,0.256372,0.444444
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,13.078096,77.587993,0.407821,0.091515,0.325663,0.246582,0.697607,0.723,0.122598,9,0.293026,0.000000
2996,13.035713,77.523857,0.085119,0.541489,0.979990,0.208069,0.354261,0.031,0.183290,1,1.000000,0.333333
2997,12.934399,77.666290,0.054576,0.608191,0.157079,0.496999,0.200360,0.621,0.900263,2,0.167379,0.111111
2998,13.021337,77.661109,0.378730,0.148946,0.086043,0.016339,0.039551,0.934,0.974611,3,0.471686,0.111111
2999,12.908728,77.692025,0.971911,0.931964,0.288144,0.207236,0.630720,0.581,0.276047,2,0.094820,0.666667

In [5]:
y = df['flood']
y

0       1
1       1
2       0
3       0
4       1
       ..
2995    1
2996    0
2997    1
2998    1
2999    1
Name: flood, Length: 3000, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=False)

In [9]:
X_train

,Latitude,Longitude,Altitude,Rainfall_Intensity,Temperature,Humidity,Atmospheric_Pressure,River_Level,Drainage_Capacity,Drainage_System_Condition,Population_Density,Urbanization_Level
0,13.031867,77.531658,0.988234,0.267009,0.941971,0.978826,0.315710,0.458,0.899656,5,0.825245,0.222222
1,12.877241,77.525416,0.468606,0.925360,0.745873,0.727076,0.220286,0.665,0.002832,4,0.307814,1.000000
2,12.899599,77.517722,0.674044,0.438967,0.067534,0.555852,0.346851,0.555,0.759660,9,0.347557,0.111111
3,12.893955,77.552339,0.646956,0.921958,0.847424,0.078359,0.307400,0.646,0.214040,4,0.383286,0.666667
4,12.984063,77.538374,0.505007,0.839715,0.928464,0.126876,0.412236,0.683,0.296986,5,0.256372,0.444444
...,...,...,...,...,...,...,...,...,...,...,...,...
2395,12.987311,77.607543,0.868366,0.948239,0.464232,0.585529,0.890057,0.334,0.268157,2,0.514659,0.222222
2396,12.926646,77.636738,0.286000,0.164421,0.836918,0.900967,0.605487,0.344,0.860105,6,0.077940,0.666667
2397,13.029458,77.623948,0.973062,0.276281,0.662831,0.715405,0.178332,0.547,0.627048,10,0.711355,0.666667
2398,12.979566,77.557929,0.429752,0.738661,0.578789,0.060520,0.226394,0.804,0.547239,9,0.020505,0.111111
2399,12.965948,77.657690,0.721059,0.331710,0.859930,0.310770,0.015120,0.955,0.827433,4,0.926402,1.000000